<ion-view view-title="Gracias por tu registro !">
  <ion-content class="padding" >
  

<div class="padding text-center">
	<h1> Gracias por tu registro ! </h1>
	<!--
  <button ui-sref="sidemenu.home" class="button button-block button-clam">Back to Home</button>
  	-->
  	
  	  <label class="item item-input center"> <!-- Dejar en opaco, hint: de lo que escriba el usuario-->
        <label id="tutzke" > {{allah}} </label>
      </label>
      <button class="button button-balanced" ng-click="aLaVerga()">
        Regrear
      </button>
</div>


  </ion-content>
</ion-view>

