<!-- Ver el framework de ionic  css-->

<ion-view view-title="Home">
  <ion-content class="padding">
  
    <h1>Existe un segmento del Mercado Gamer que experimenta un dolor en el Mercado: hay incertidumbre por parte del consumidor hacia los sitios web que realizan las reviews de los juegos y por lo tanto dificulta la toma de decisiones a la hora de realizar una compra con un presupuesto determinado. 
	</h1>
	<h2> Como respuesta a este problema proponemos crear un sistema gratuito de recomendaciones inteligentes de videojuegos basado en las reseñas que dejan tus amigos, los Tweets de positivos o negativos de otros gamers en el mundo.
	</h2>
	
  <picture>
    <img
      src="images/darksouls3.png"
      alt="darksouls3">
  </picture>
  	
  </ion-content>
</ion-view>