<!-- Ver el framework de ionic  css-->

<ion-view view-title="Acerca de los socios del proyecto:">

  <ion-content class="padding">
  
    <p>Gerardo Lopez Garcia / ITC / 22años / Programar Videojuegos /</p>
    <A HREF="mailto:jerrylogar.itesm@gmail.com?cc=otradir@correo.es&subject=Correo para Jerry caballero de la obscuridad eterna !">
Escribeme al correo jerrylogar.itesm@gmail.com </A> <!--Uso de Href Mailto-->
    <p></p>
    <a href="tel:+7223948079">Lláma al 722-3948079 ¡gratis!</a> <!--Uso del protocolo tel-->
    
    <br></br> <br></br>
    
    <p>Marcos Lopez Mendoza / ITC / 21años / Web Developer /</p>
    <A HREF="mailto:marcos.lopezmendoza@gmail.com?cc=otradir@correo.es&subject=Correo para Marcos caballero de la obscuridad eterna !">
Escribeme al correo marcos.lopezmendoza@gmail.com </A> <!--Uso de Href Mailto-->
    <p></p>
    <a href="tel:+7223948079">Lláma al 5569696969 ¡gratis!</a> <!--Uso del protocolo tel-->

  	 <br></br> <br></br>
  
    <p>Jaime Margolin / ITC / 23 años / Programar Videojuegos /</p>
    <A HREF="mailto:A01019332@itesm.mx?cc=otradir@correo.es&subject=Correo para Jaime caballero de la obscuridad eterna !">
Escribeme al correo A01019332@itesm.mx </A> <!--Uso de Href Mailto-->
    <p></p>
    <a href="tel:+7223948079">Lláma al 556969696969 ¡gratis!</a> <!--Uso del protocolo tel-->    
    <br></br> <br></br>
    <p>Rafael Correa  / ITC / 23 años / No sabe /</p>
    <A HREF="mailto:A01019498@itesm.mx?cc=otradir@correo.es&subject=Correo para Rafa caballero de la Hueva eterna !">
Escribeme al correo A01019498@itesm.mx </A> <!--Uso de Href Mailto-->
    <p></p>
    <a href="tel:+7223948079">Lláma al 556969696969 ¡gratis!</a> <!--Uso del protocolo tel-->    
     <br></br> <br></br>
    <p>Enrique Gonzales  / ITC / 23 años / Marshmamellows /</p>
    <A HREF="mailto:A01019264@itesm.mx?cc=otradir@correo.es&subject=Correo para Rafa caballero de los Marshmamellows eternos !">
Escribeme al correo A01019264@itesm.mx </A> <!--Uso de Href Mailto-->
    <p></p>
    <a href="tel:+7223948079">Lláma al 556969696969 ¡gratis!</a> <!--Uso del protocolo tel--> 
     <br></br> <br></br> <br></br> <br></br> <br></br> <br></br>
  </ion-content>
</ion-view>
